{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comanche | {% block title %}Default title{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="description" content="Automated Membrane Builder and Repository">
    <meta name="keywords" content="Comanche, Molecular Dynamics">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/styles.css" %}">
    <title>Title</title>
</head>
<body>

<div id="container">
    <div id="top">
        <img src="{% static "images/vmdscenegimp.jpg" %}" alt="Membrane"/>
        <h1>Comanche <span style="font-size: smaller">{{ version }}</span></h1>
        <h2>Membrane Builder and Repository</h2>
    </div>

    <div id="login">

    </div>

    <div id="menu">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Membrane builder</a>
                    <ul>
                        <li><a href="{% url 'equilibration' %}">Equilibration</a>
                        <li><a href="{% url 'insertion' %}">Insertion</a>
                        <li><a href="{% url 'umbrella' %}">Umbrella</a>
                    </ul>
                </li>
                <li><a href="#">Libraries</a>
                    <ul>
                        <li><a href="{% url 'lipids' %}">Lipids</a>
                        <li><a href="{% url 'membranes' %}">Membranes</a>
                        <li><a href="{% url 'forcefields' %}">Forcefields</a>
                    </ul>
                </li>
                <li><a href="{% url 'jobs' %}">Jobs</a></li>
            </ul>
        </nav>
    </div>

    <div id="page">
        {% block page_body %}
            <h3>To be done!</h3>
            <p>Sorry, this feature is not implemented yet!</p>
        {% endblock %}
    </div>
</div>
</body>
</html>